<div class="d-flex align-items-center justify-content-center vh-100 bg-light">
    <div class="card shadow-sm p-4" style="width: 400px;">
        <h2 class="text-center mb-4">Inicio de Sesión BarSync</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" formControlName="email" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" formControlName="password" class="form-control" />
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger text-center mb-4">
                {{ errorMessage }} <br />
                <small>Si olvidaste tu contraseña contacta con tu administrador</small>
            </div>


            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>
        </form>

        <!--
            <div class="text-center mt-3">
            <a routerLink="/forgot-password">Forgot password?</a>
            </div>
        -->
    </div>
</div>